<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- External CSS and other programming pages here -->
<link rel="stylesheet" href="style.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="./main.js"></script>

    <head>
        <!-- Title for website name and specific page -->
        <title>Key Companion - Home</title>
    </head>

    <body>
        <!-- ID for Vue.js applications -->
        <div id="app">
            <component1 :person="person"></component1>
        </div>

        <!-- Navigation Bar at top of page, including relevant page links and user unique identifiers -->
        <div class="navbar">
            <a href="SIT120 Assessment 1.html">Home</a>
            <a href="SIT120 Assessment 1.html">Friends</a>
            <a href="SIT120 Assessment 1.html">Chat</a>
            <a href="SIT120 Assessment 1.html" class="split"> Michael_1998</a>
        </div>

        <!-- Vue: Log in credentials required -->
        <p>Email Address</p>
        <input
            v-model="email" 
            type="text" 
            placeholder="Please enter your email address" 
        />
        <p>Password</p>
        <input 
            v-model="password"
            type="text" 
            placeholder="Please enter your password" 
        />
        
        <!-- Introduction body -->
        <h2>Welcome Michael!</h2>
        
        <p>Example Content </p>

        <div class="row">

        <!-- Vue: Components -->
        <div id="app">
            <component1 :person="person"></component1>
        </div>

        <!-- Example of content for home page -->
        <div class="column">
          <h3>Example Column</h3>
          <p1>Example content.</p1>            
        </div>
            
        <div class="column">
            <h3>Example Column</h3>
            <p1>Example content.</p1>
        </div>
            
        <div class="column">
            <h3>Example Column</h3>
            <p1>Example content.</p1>
        </div>
        </div>
 
    </body>

<!-- Vue: Component -->
<script>    
    var component1 = {
            template: '<div>Welcome {{ person.firstname }} {{ person.lastname }}</div>',
        props: ["person"]
        };
        var app = new Vue({
            el: '#app',
            
            data: {
                person: {
                    firstname: 'Michael',
                    lastname: '1997',
                },
            },
            components: {
                component1,
            },
        });
</script>

</html>
<!-- Vue: String template -->
<script>    
    let text = 'Log In';
    document.getElementById('app').innerHTML = text;
    text = 'Welcome Michael!';
    document.getElementById('app').innerHTML = text;
</script>

